on:
  pull_request:

jobs:
  eslint:
    name: eslint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: install node v12
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: yarn install
      run: yarn install
    - name: check src folder
      uses: icrawl/action-eslint@v1
      if: ${{ success() || failure() }}
    - name: check tests folder
      uses: icrawl/action-eslint@v1
      with:
        custom-glob: tests
