on:
  pull_request:

jobs:
  eslint:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: install node v12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: yarn install
        run: yarn install
      - name: check src folder
        id: check1
        uses: icrawl/action-eslint@v1
        continue-on-error: true
      - name: check tests folder
        id: check2
        uses: icrawl/action-eslint@v1
        with:
          custom-glob: tests
        continue-on-error: true
      - name: Print Results
        if: steps.check1.outcome != 'success' || steps.check2.outcome != 'success'
        run:
          echo "::error::Please go to Files changed tab to to get the reason to fail OR, click on the > icon of all check"
