on:
  pull_request:

jobs:
  eslint:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: install node v12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: yarn install
        run: yarn install
      - name: check src folder
        id: check1
        uses: icrawl/action-eslint@v1
        continue-on-error: true
      - name: check tests folder
        id: check2
        uses: icrawl/action-eslint@v1
        with:
          custom-glob: tests
        continue-on-error: true
      - name: Set the value
        id: step_one
        run: |
            echo "action_state=yellow" >> $GITHUB_ENV
      - name: Use the value
        id: step_two
        run: |
            echo "${{ env.action_state }}hello" # This will output 'yellow'
      - name: Check on failures
        if: steps.check1.outcome != 'success' || steps.check2.outcome != 'success'
        run: |
          echo '::set-output name=SELECTED_COLOR::green'
          echo "check Files Changed tab"
          exit 1
