on:
  pull_request:

jobs:
  eslint:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: install node v12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: yarn install
        run: yarn install
      - name: check src folder
        id: check1
        uses: icrawl/action-eslint@v1
        continue-on-error: true
      - name: check tests folder
        id: check2
        uses: icrawl/action-eslint@v1
        with:
          custom-glob: tests
        continue-on-error: true
      - name: Print Results
        if: steps.check1.outcome != 'success' || steps.check2.outcome != 'success'
        run: exit 1

  job1:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      output1: ${{ steps.step1.outputs.test }}
      output2: ${{ steps.step2.outputs.test }}
    steps:
    - id: step1
      run: echo "::set-output name=test::hello"
    - id: step2
      run: echo "::set-output name=test::world"
  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
    - run: echo ${{needs.job1.outputs.output1}} ${{needs.job1.outputs.output2}}
